@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-Regular.ttf") format("ttf");
}

@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-LightItalic.ttf") format("ttf");
  font-weight: 300;
  font-style: italic;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p,
figure,
blockquote {
  margin: 0;
}

