@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-Regular.ttf") format("ttf");
}

@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-LightItalic.ttf") format("ttf");
  font-weight: 300;
  font-style: italic;
}

body {
  margin: 0;

  font-family: Roboto, sans-serif;
  font-size: 18px;
}

a {
  transition: opacity 100ms linear;

  color: inherit;
  text-decoration: none;
}

a[href]:hover {
  opacity: 0.7;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

h1,
h2,
h3,
p,
figure,
blockquote {
  margin: 0;
}

.button {
  transition: background-color 300ms;

  display: flex;
  justify-content: center;
  min-width: 150px;
  padding: 8px;
  
  font-size: 18px;
  font-weight: 700;
  color: white;

  background-color: #3882f6;
  border: solid 2px #3882f6;
  border-radius: 8px;
}

.button:hover {
  background-color: #1f2937;

  cursor: pointer;
}

.button--white {
  border-color: white;
}

.container-lg {
  padding: 0 14%;
}

.container-sm {
  padding: 0 21%;
}

header {
  padding-bottom: 50px;

  color: #e5e7eb;

  background-color: #1f2937;
}

nav ul {
  display: flex;
  gap: 24px;
  height: 60px;
  align-items: center;
}

nav li:first-child {
  margin-right: auto;

  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

.heading {
  display: flex;
  gap: 48px;
  padding: 150px 0;
}

.heading > * {
  flex: 1;
}

.heading h1 {
  font-size: 48px;
  font-weight: 700;
  color: #f9faf8;
}

.heading p {
  margin-bottom: 16px;
}

.heading img {
  align-self: flex-start;
  width: 450px;
}

.features {
  padding-top: 48px;
  padding-bottom: 100px;

  text-align: center;
}

.features h2 {
  margin-bottom: 48px;

  font-size: 32px;
}

.features ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.features li {
  width: 160px;
}

.quote {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 120px;
  padding-bottom: 100px;

  font-size: 32px;
  font-weight: 300;
  color: #1f2937;

  background-color: #e5e7eb;
}

.quote blockquote {
  font-style: italic;
}

.quote figcaption {
  align-self: flex-end;
  padding-right: 30px;

  font-size: 24px;
  font-weight: 700;
  color: #1f2937;
}

.action {
  padding-top: 100px;
  padding-bottom: 100px;

  color: #e5e7eb;
}

.action__wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 48px 9.6%;
  border-radius: 8px;

  background-color: #3882f6;
}

.action h2 {
  margin-bottom: 5px;

  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

.action button {
  flex: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;

  font-size: 18px;
  color: #e5e7eb;

  background-color: #1f2937;
}